In [313]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

df_teams = pd.read_csv("teams.csv")
df_regular_season_2015 = pd.read_csv("regular_season_compact_results_2015.csv")

In [300]:
np_teams = df_teams["team_id"].to_numpy()
np_results = df_regular_season_2015.to_numpy()

In [301]:
df_regular_season_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5354 entries, 0 to 5353
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   season  5354 non-null   int64
 1   daynum  5354 non-null   int64
 2   wteam   5354 non-null   int64
 3   wscore  5354 non-null   int64
 4   lteam   5354 non-null   int64
 5   lscore  5354 non-null   int64
 6   wloc    5354 non-null   object
 7   numot   5354 non-null   int64
dtypes: int64(7), object(1)
memory usage: 334.8+ KB

In [302]:
df_regular_season_2015[df_regular_season_2015["wteam"] == 1112]

      season  daynum  wteam  wscore  lteam  lscore wloc  numot
2       2015      11   1112      78   1291      55    H      0
141     2015      13   1112      86   1169      68    H      0
278     2015      16   1112      71   1414      54    H      0
546     2015      21   1112      72   1281      53    N      0
593     2015      22   1112      72   1243      68    N      0
659     2015      23   1112      61   1361      59    N      0
941     2015      29   1112      91   1205      65    H      0
1088    2015      33   1112      66   1211      63    H      1
1237    2015      36   1112      87   1430      56    H      0
1313    2015      40   1112      80   1276      53    H      0
1452    2015      43   1112     101   1324      64    H      0
1547    2015      46   1112      60   1431      55    A      0
2175    2015      62   1112      73   1113      49    H      0
2320    2015      66   1112      80   1332      62    A      0
2658    2015      73   1112      68   1160      54    H      0
2720    2015      75   1112      69   1428      51    H      0
2968    2015      80   1112      89   1390      82    A      0
3057    2015      82   1112      73   1143      50    A      0
3263    2015      86   1112      90   1332      56    H      0
3368    2015      88   1112      57   1333      34    H      0
4027    2015     102   1112      86   1449      62    A      0
4179    2015     104   1112      86   1450      59    A      0
4295    2015     108   1112      87   1425      57    H      0
4367    2015     110   1112      57   1417      47    H      0
4621    2015     115   1112      82   1160      54    A      0
4696    2015     117   1112      63   1428      57    A      0
4948    2015     122   1112      99   1143      60    H      0
5036    2015     124   1112      91   1390      69    H      0
5221    2015     129   1112      73   1143      51    N      0
5280    2015     130   1112      70   1417      64    N      0
5325    2015     131   1112      80   1332      52    N      0

In [303]:
##find wp wining percentage
listofoponents = []
data = []
for x in np_teams:
    # print(x)
    wincounter = 0;
    numofgames = 0;
    listofoponents = []
    for y in np_results:
        # print("win", y[2])
        if int(y[2]) == x:
            # print("++++++++++")
            listofoponents.append(int(y[4]))
            wincounter = wincounter + 1
            numofgames = numofgames + 1
        # print("lose", y[4])
        if int(y[4]) == int(x):
            # print("+++++++++++")
            listofoponents.append(int(y[2]))
            numofgames = numofgames + 1

    # print("win", wincounter)
    # print("all", numofgames)
    # print(x)

    ##odbacene ekipe koje nisu odigrale nijednu utakmicu u sezoni
    if(numofgames != 0):
        win_percentage = wincounter / numofgames
        data.append( [x, win_percentage, listofoponents])

    # print(df_teams[df_teams["team_id"] == int(x)]["team_name"])
    # print(win_percentage)
    ##print("--------")


df_win_percentage = pd.DataFrame(data, columns=["team_id", "win_percentage", "list_oponents"])

df_win_percentage

,team_id,win_percentage,list_oponents
0,1101,0.250000,"[1409, 1182, 1415, 1170, 1222, 1260, 1129, 135..."
1,1102,0.413793,"[1119, 1154, 1160, 1403, 1212, 1303, 1115, 141..."
2,1103,0.588235,"[1420, 1425, 1274, 1376, 1336, 1136, 1115, 144..."
3,1104,0.548387,"[1406, 1441, 1379, 1235, 1113, 1378, 1462, 139..."
4,1105,0.285714,"[1173, 1210, 1240, 1369, 1132, 1439, 1266, 144..."
...,...,...,...
346,1460,0.310345,"[1125, 1132, 1149, 1168, 1198, 1367, 1191, 112..."
347,1461,0.718750,"[1294, 1160, 1197, 1391, 1308, 1176, 1374, 114..."
348,1462,0.617647,"[1319, 1253, 1372, 1293, 1360, 1431, 1253, 110..."
349,1463,0.666667,"[1346, 1227, 1356, 1245, 1248, 1344, 1216, 113..."
350,1464,0.275862,"[1245, 1141, 1185, 1255, 1422, 1282, 1229, 135..."

In [304]:
##find op
np_win_percentage = df_win_percentage.to_numpy()

data = []
for x in np_win_percentage:
    counter = len(x[2])
    opp_percentage = 0
    for y in x[2]:
        for z in np_win_percentage:
            if int(z[0]) == int(y):
                opp_percentage = opp_percentage + float(z[1])

    opp_percentage = opp_percentage / counter
    print("team", x[0])
    print("oponents", counter)
    print("opp_percentage", opp_percentage)
    data.append(opp_percentage)

df_win_percentage["opp_percentage"] = data

df_win_percentage

team 1101
oponents 28
opp_percentage 0.47360666378846306
team 1102
oponents 29
opp_percentage 0.4899341121266345
team 1103
oponents 34
opp_percentage 0.5077393196362009
team 1104
oponents 31
opp_percentage 0.5557596997119723
team 1105
oponents 28
opp_percentage 0.41725164268244347
team 1106
oponents 27
opp_percentage 0.3565427203446844
team 1107
oponents 32
opp_percentage 0.42982472050625026
team 1108
oponents 30
opp_percentage 0.4268869189089778
team 1110
oponents 33
opp_percentage 0.49462503242460776
team 1111
oponents 29
opp_percentage 0.45863466848373446
team 1112
oponents 34
opp_percentage 0.5548637636872931
team 1113
oponents 32
opp_percentage 0.5532436570562189
team 1114
oponents 30
opp_percentage 0.4679148777399148
team 1115
oponents 32
opp_percentage 0.4225489828300268
team 1116
oponents 34
opp_percentage 0.557427931348962
team 1117
oponents 28
opp_percentage 0.4646822519334636
team 1119
oponents 29
opp_percentage 0.44697962345084635
team 1120
oponents 34
opp_percentage 0.5828722062129712
team 1122
oponents 28
opp_percentage 0.4981105313918063
team 1123
oponents 29
opp_percentage 0.5504806644466412
team 1124
oponents 32
opp_percentage 0.6091995832474811
team 1125
oponents 31
opp_percentage 0.45675531876523723
team 1126
oponents 30
opp_percentage 0.3792805577313826
team 1127
oponents 30
opp_percentage 0.4910017660197189
team 1129
oponents 31
opp_percentage 0.5011398366656186
team 1130
oponents 32
opp_percentage 0.5644006022642748
team 1131
oponents 29
opp_percentage 0.5243911207859488
team 1132
oponents 30
opp_percentage 0.46310149132966966
team 1133
oponents 32
opp_percentage 0.526446757482761
team 1135
oponents 29
opp_percentage 0.4930469230925903
team 1136
oponents 31
opp_percentage 0.47483985790308125
team 1137
oponents 32
opp_percentage 0.4846738374180529
team 1138
oponents 32
opp_percentage 0.5463708579801624
team 1139
oponents 32
opp_percentage 0.5593122029328592
team 1140
oponents 32
opp_percentage 0.5374252303244587
team 1141
oponents 28
opp_percentage 0.4754322583552774
team 1142
oponents 27
opp_percentage 0.5018212829722108
team 1143
oponents 33
opp_percentage 0.5535620255269884
team 1144
oponents 29
opp_percentage 0.4886951289493865
team 1145
oponents 30
opp_percentage 0.4853014824849952
team 1146
oponents 29
opp_percentage 0.447754252828617
team 1148
oponents 31
opp_percentage 0.46270534679087133
team 1149
oponents 27
opp_percentage 0.45368314369751156
team 1150
oponents 32
opp_percentage 0.4951117139860095
team 1151
oponents 30
opp_percentage 0.4647728888008802
team 1152
oponents 29
opp_percentage 0.48336027893761363
team 1153
oponents 32
opp_percentage 0.552004651513629
team 1154
oponents 27
opp_percentage 0.440689295909148
team 1155
oponents 31
opp_percentage 0.5540843391120978
team 1156
oponents 30
opp_percentage 0.5059244603217892
team 1157
oponents 29
opp_percentage 0.4295529016463874
team 1158
oponents 33
opp_percentage 0.4970922679368908
team 1159
oponents 32
opp_percentage 0.48396538381591225
team 1160
oponents 32
opp_percentage 0.5671780028957811
team 1161
oponents 32
opp_percentage 0.5060615134332025
team 1162
oponents 27
opp_percentage 0.527499206237186
team 1163
oponents 34
opp_percentage 0.5514593007712404
team 1164
oponents 30
opp_percentage 0.4815585608210993
team 1165
oponents 29
opp_percentage 0.48059015531254795
team 1166
oponents 33
opp_percentage 0.558903749924819
team 1167
oponents 30
opp_percentage 0.4460010084602224
team 1168
oponents 29
opp_percentage 0.479072109741244
team 1169
oponents 31
opp_percentage 0.5417251880297472
team 1170
oponents 29
opp_percentage 0.4497370912918839
team 1171
oponents 28
opp_percentage 0.4756931067909798
team 1172
oponents 30
opp_percentage 0.5055891687412823
team 1173
oponents 33
opp_percentage 0.510208665746273
team 1174
oponents 30
opp_percentage 0.5045888623039843
team 1175
oponents 33
opp_percentage 0.4586280378893606
team 1176
oponents 30
opp_percentage 0.5178068007535932
team 1177
oponents 32
opp_percentage 0.5342393683064791
team 1178
oponents 31
opp_percentage 0.5093688233304015
team 1179
oponents 30
opp_percentage 0.543182585629054
team 1180
oponents 29
opp_percentage 0.4903334932254827
team 1181
oponents 33
opp_percentage 0.5846266155870782
team 1182
oponents 30
opp_percentage 0.5262313508138282
team 1183
oponents 29
opp_percentage 0.49326355915573816
team 1184
oponents 28
opp_percentage 0.45896813209427434
team 1185
oponents 30
opp_percentage 0.4861288726904116
team 1186
oponents 31
opp_percentage 0.46420947468965196
team 1187
oponents 31
opp_percentage 0.511342031410305
team 1188
oponents 26
opp_percentage 0.45462340182167765
team 1189
oponents 31
opp_percentage 0.4526988147216874
team 1190
oponents 28
opp_percentage 0.48794127224799205
team 1191
oponents 30
opp_percentage 0.5052133231336976
team 1192
oponents 28
opp_percentage 0.4688181889113889
team 1193
oponents 31
opp_percentage 0.5281582803463799
team 1194
oponents 27
opp_percentage 0.49114187405766824
team 1195
oponents 29
opp_percentage 0.4545295332278896
team 1196
oponents 33
opp_percentage 0.6124810662550902
team 1197
oponents 29
opp_percentage 0.43189290388501195
team 1198
oponents 31
opp_percentage 0.4628052441024318
team 1199
oponents 33
opp_percentage 0.5492174250240253
team 1200
oponents 30
opp_percentage 0.5437712777327873
team 1201
oponents 30
opp_percentage 0.5132674444490815
team 1202
oponents 31
opp_percentage 0.49865502630918496
team 1203
oponents 33
opp_percentage 0.4894634135534602
team 1204
oponents 28
opp_percentage 0.4500317918540547
team 1205
oponents 30
opp_percentage 0.4994041779511474
team 1206
oponents 30
opp_percentage 0.5680349337378799
team 1207
oponents 31
opp_percentage 0.5896269136114219
team 1208
oponents 32
opp_percentage 0.5644345569667261
team 1209
oponents 32
opp_percentage 0.4918330574619681
team 1210
oponents 31
opp_percentage 0.580038846539246
team 1211
oponents 33
opp_percentage 0.5243226874465734
team 1212
oponents 27
opp_percentage 0.42929927752455077
team 1213
oponents 29
opp_percentage 0.425201224999612
team 1214
oponents 33
opp_percentage 0.42602027198877235
team 1216
oponents 29
opp_percentage 0.4607322184560218
team 1217
oponents 27
opp_percentage 0.49376005845056714
team 1218
oponents 33
opp_percentage 0.4896916783187724
team 1219
oponents 28
opp_percentage 0.4756034226465161
team 1220
oponents 33
opp_percentage 0.44700486814314266
team 1221
oponents 29
opp_percentage 0.5030795718167703
team 1222
oponents 32
opp_percentage 0.49897593841236026
team 1223
oponents 24
opp_percentage 0.46865227679906024
team 1224
oponents 29
opp_percentage 0.4223173504637103
team 1225
oponents 28
opp_percentage 0.48297467251116155
team 1226
oponents 28
opp_percentage 0.45047135496146284
team 1227
oponents 32
opp_percentage 0.5030238873797689
team 1228
oponents 32
opp_percentage 0.5448856601983877
team 1229
oponents 32
opp_percentage 0.550738410685661
team 1230
oponents 24
opp_percentage 0.45741182266198493
team 1231
oponents 33
opp_percentage 0.5752962370925067
team 1232
oponents 30
opp_percentage 0.5003362742525128
team 1233
oponents 34
opp_percentage 0.4688063539749117
team 1234
oponents 32
opp_percentage 0.5689840203986593
team 1235
oponents 33
opp_percentage 0.5827295065877521
team 1236
oponents 27
opp_percentage 0.4660040982178748
team 1237
oponents 31
opp_percentage 0.5023030672544521
team 1238
oponents 32
opp_percentage 0.41579219287503205
team 1239
oponents 29
opp_percentage 0.4320854436027904
team 1240
oponents 29
opp_percentage 0.4566854644623048
team 1241
oponents 32
opp_percentage 0.4990868794175572
team 1242
oponents 34
opp_percentage 0.631269713120715
team 1243
oponents 32
opp_percentage 0.5841360818694831
team 1244
oponents 30
opp_percentage 0.4618702528623272
team 1245
oponents 31
opp_percentage 0.49410769146041883
team 1246
oponents 34
opp_percentage 0.5484049842810033
team 1247
oponents 33
opp_percentage 0.5575245582686263
team 1248
oponents 31
opp_percentage 0.4823361376769629
team 1249
oponents 26
opp_percentage 0.4816905942091857
team 1250
oponents 29
opp_percentage 0.48433553906555243
team 1251
oponents 28
opp_percentage 0.4588000246137263
team 1252
oponents 28
opp_percentage 0.445612849182043
team 1253
oponents 31
opp_percentage 0.5455941533814006
team 1254
oponents 30
opp_percentage 0.4785111276839586
team 1255
oponents 32
opp_percentage 0.45688393148070566
team 1256
oponents 32
opp_percentage 0.47014921836173135
team 1257
oponents 32
opp_percentage 0.571860470783204
team 1258
oponents 30
opp_percentage 0.5444381082395543
team 1259
oponents 30
opp_percentage 0.4695810955307619
team 1260
oponents 30
opp_percentage 0.5063655076248317
team 1261
oponents 32
opp_percentage 0.5238622463060205
team 1262
oponents 28
opp_percentage 0.44868552389860783
team 1263
oponents 30
opp_percentage 0.5023130175503646
team 1264
oponents 32
opp_percentage 0.44012011421137376
team 1265
oponents 32
opp_percentage 0.4857556075917829
team 1266
oponents 32
opp_percentage 0.5785260634220697
team 1267
oponents 30
opp_percentage 0.49590528551956276
team 1268
oponents 33
opp_percentage 0.5502939792592436
team 1269
oponents 32
opp_percentage 0.5676516485573118
team 1270
oponents 27
opp_percentage 0.4492127217493366
team 1271
oponents 32
opp_percentage 0.4361583410635718
team 1272
oponents 32
opp_percentage 0.5669991488442621
team 1273
oponents 31
opp_percentage 0.4512904110994731
team 1274
oponents 33
opp_percentage 0.5391323997814497
team 1275
oponents 31
opp_percentage 0.5099733984036962
team 1276
oponents 31
opp_percentage 0.6030799135216255
team 1277
oponents 34
opp_percentage 0.5978351317430733
team 1278
oponents 32
opp_percentage 0.550607025148706
team 1279
oponents 32
opp_percentage 0.5582439820681069
team 1280
oponents 31
opp_percentage 0.5165308715242043
team 1281
oponents 31
opp_percentage 0.5958907316592325
team 1282
oponents 31
opp_percentage 0.42953931399673084
team 1283
oponents 29
opp_percentage 0.5321579798489008
team 1284
oponents 33
opp_percentage 0.4710278390812839
team 1285
oponents 30
opp_percentage 0.4749294414473317
team 1286
oponents 29
opp_percentage 0.491296308196312
team 1287
oponents 32
opp_percentage 0.4779305177436349
team 1288
oponents 31
opp_percentage 0.44279977011567345
team 1290
oponents 32
opp_percentage 0.43530143059895277
team 1291
oponents 30
opp_percentage 0.4793003709641068
team 1292
oponents 34
opp_percentage 0.5080974429889483
team 1293
oponents 30
opp_percentage 0.45467321489789264
team 1294
oponents 28
opp_percentage 0.4562408539302509
team 1295
oponents 30
opp_percentage 0.4449902511496685
team 1296
oponents 29
opp_percentage 0.5107166476069436
team 1297
oponents 28
opp_percentage 0.4771049802391377
team 1298
oponents 31
opp_percentage 0.4878482968412508
team 1299
oponents 30
opp_percentage 0.42665397619930434
team 1300
oponents 29
opp_percentage 0.3906147948716799
team 1301
oponents 33
opp_percentage 0.6016875798692444
team 1303
oponents 28
opp_percentage 0.4160086933197929
team 1304
oponents 31
opp_percentage 0.5635891933145181
team 1305
oponents 29
opp_percentage 0.49344997454319117
team 1306
oponents 29
opp_percentage 0.42949537070015764
team 1307
oponents 31
opp_percentage 0.5187224398581552
team 1308
oponents 31
opp_percentage 0.4689946476276111
team 1309
oponents 26
opp_percentage 0.4336661383195459
team 1310
oponents 30
opp_percentage 0.5077454478015968
team 1311
oponents 26
opp_percentage 0.45006333779299523
team 1312
oponents 25
opp_percentage 0.46884116940334636
team 1313
oponents 31
opp_percentage 0.4625555877706169
team 1314
oponents 35
opp_percentage 0.6259153501627165
team 1315
oponents 28
opp_percentage 0.490210154760548
team 1316
oponents 31
opp_percentage 0.41701037817780423
team 1317
oponents 29
opp_percentage 0.5019768007173583
team 1318
oponents 34
opp_percentage 0.47795543261686196
team 1319
oponents 32
opp_percentage 0.46278285443558687
team 1320
oponents 33
opp_percentage 0.4888708614028413
team 1321
oponents 32
opp_percentage 0.5647999304336079
team 1322
oponents 27
opp_percentage 0.47841360615362416
team 1323
oponents 34
opp_percentage 0.5198963203517355
team 1324
oponents 30
opp_percentage 0.5202502596751108
team 1325
oponents 30
opp_percentage 0.5487443332239018
team 1326
oponents 33
opp_percentage 0.5403656513580345
team 1328
oponents 32
opp_percentage 0.5796901643416409
team 1329
oponents 30
opp_percentage 0.5828063827580447
team 1330
oponents 31
opp_percentage 0.49235740152740487
team 1331
oponents 30
opp_percentage 0.47523908821647043
team 1332
oponents 33
opp_percentage 0.5555775288086541
team 1333
oponents 30
opp_percentage 0.5121719860880611
team 1334
oponents 28
opp_percentage 0.5146198509896269
team 1335
oponents 28
opp_percentage 0.5045240083145762
team 1336
oponents 34
opp_percentage 0.5356670701359485
team 1337
oponents 30
opp_percentage 0.48528106325450604
team 1338
oponents 32
opp_percentage 0.5637061529820999
team 1339
oponents 30
opp_percentage 0.5203501096433059
team 1340
oponents 27
opp_percentage 0.44620327831302997
team 1341
oponents 32
opp_percentage 0.42894444461975845
team 1342
oponents 28
opp_percentage 0.49372529932974085
team 1343
oponents 29
opp_percentage 0.4707237883909986
team 1344
oponents 33
opp_percentage 0.6004647213150941
team 1345
oponents 33
opp_percentage 0.5484333212633771
team 1346
oponents 30
opp_percentage 0.46633887251432077
team 1347
oponents 29
opp_percentage 0.4513705201998708
team 1348
oponents 30
opp_percentage 0.49517531074987353
team 1349
oponents 29
opp_percentage 0.504032588377192
team 1350
oponents 32
opp_percentage 0.5677192396370903
team 1351
oponents 32
opp_percentage 0.4421336850861793
team 1352
oponents 33
opp_percentage 0.46366485357599213
team 1353
oponents 32
opp_percentage 0.5891682351646165
team 1354
oponents 31
opp_percentage 0.43511862142127844
team 1355
oponents 31
opp_percentage 0.4629340899746636
team 1356
oponents 32
opp_percentage 0.478394448640903
team 1357
oponents 31
opp_percentage 0.45562422226188415
team 1358
oponents 29
opp_percentage 0.4706055044896574
team 1359
oponents 31
opp_percentage 0.42598623986792744
team 1360
oponents 30
opp_percentage 0.5293921317745992
team 1361
oponents 33
opp_percentage 0.5349337160454906
team 1362
oponents 31
opp_percentage 0.5371099306630274
team 1363
oponents 28
opp_percentage 0.5420693206496877
team 1364
oponents 30
opp_percentage 0.5312225380371359
team 1365
oponents 30
opp_percentage 0.5168860370052598
team 1366
oponents 29
opp_percentage 0.4486787402150737
team 1367
oponents 30
opp_percentage 0.4042953309513376
team 1368
oponents 31
opp_percentage 0.43538915275163437
team 1369
oponents 28
opp_percentage 0.44109163960570114
team 1370
oponents 29
opp_percentage 0.42221163224600955
team 1371
oponents 31
opp_percentage 0.5486758818265414
team 1372
oponents 30
opp_percentage 0.4719034924545269
team 1373
oponents 31
opp_percentage 0.49271593650622475
team 1374
oponents 32
opp_percentage 0.5559391745964576
team 1375
oponents 31
opp_percentage 0.48846575330825437
team 1376
oponents 32
opp_percentage 0.5676186660419805
team 1377
oponents 31
opp_percentage 0.4636355406148903
team 1378
oponents 31
opp_percentage 0.5379573499535089
team 1379
oponents 27
opp_percentage 0.5244309726314969
team 1380
oponents 32
opp_percentage 0.45285149138351793
team 1381
oponents 28
opp_percentage 0.4460427076528299
team 1382
oponents 31
opp_percentage 0.4980672076795906
team 1383
oponents 33
opp_percentage 0.4216610213112219
team 1384
oponents 30
opp_percentage 0.46983287547330926
team 1385
oponents 31
opp_percentage 0.5679163570950645
team 1386
oponents 31
opp_percentage 0.5280073565378448
team 1387
oponents 31
opp_percentage 0.5146841516963787
team 1388
oponents 29
opp_percentage 0.517414974439119
team 1389
oponents 34
opp_percentage 0.4483883943374689
team 1390
oponents 32
opp_percentage 0.5586095290847277
team 1391
oponents 28
opp_percentage 0.46180198548082496
team 1392
oponents 32
opp_percentage 0.46016357993620044
team 1393
oponents 31
opp_percentage 0.5660073035963494
team 1394
oponents 30
opp_percentage 0.4299468305729893
team 1395
oponents 33
opp_percentage 0.5178199083611787
team 1396
oponents 33
opp_percentage 0.5494508857760063
team 1397
oponents 32
opp_percentage 0.5629570435417696
team 1398
oponents 29
opp_percentage 0.49448496514225687
team 1399
oponents 28
opp_percentage 0.4628594154997501
team 1400
oponents 33
opp_percentage 0.5837922043351947
team 1401
oponents 31
opp_percentage 0.5247473834389402
team 1402
oponents 28
opp_percentage 0.49968988212175086
team 1403
oponents 32
opp_percentage 0.5607180645473168
team 1404
oponents 28
opp_percentage 0.4360102640354508
team 1405
oponents 33
opp_percentage 0.5359388969695108
team 1406
oponents 31
opp_percentage 0.4512562762604185
team 1407
oponents 27
opp_percentage 0.4493627928697244
team 1408
oponents 30
opp_percentage 0.48535839213495746
team 1409
oponents 31
opp_percentage 0.5168606849917704
team 1410
oponents 28
opp_percentage 0.4423254929623613
team 1411
oponents 34
opp_percentage 0.43833979641721854
team 1412
oponents 33
opp_percentage 0.5187206483225629
team 1413
oponents 29
opp_percentage 0.4230716001438259
team 1414
oponents 31
opp_percentage 0.4942650583510234
team 1415
oponents 29
opp_percentage 0.48293735431359613
team 1416
oponents 29
opp_percentage 0.5011997264720879
team 1417
oponents 33
opp_percentage 0.569149691120813
team 1418
oponents 30
opp_percentage 0.48613545776733624
team 1419
oponents 29
opp_percentage 0.483334738965037
team 1420
oponents 30
opp_percentage 0.461044722458033
team 1421
oponents 28
opp_percentage 0.45259904366376835
team 1422
oponents 30
opp_percentage 0.4776224111223647
team 1423
oponents 30
opp_percentage 0.4645253753994266
team 1424
oponents 32
opp_percentage 0.5494154443697417
team 1425
oponents 32
opp_percentage 0.5395446838316749
team 1426
oponents 30
opp_percentage 0.4832209818446841
team 1427
oponents 28
opp_percentage 0.4690976162096617
team 1428
oponents 31
opp_percentage 0.5617008204821092
team 1429
oponents 30
opp_percentage 0.4884447847295456
team 1430
oponents 28
opp_percentage 0.4591289797342742
team 1431
oponents 32
opp_percentage 0.5023144054702813
team 1433
oponents 35
opp_percentage 0.5917282440835573
team 1434
oponents 30
opp_percentage 0.44359353450728123
team 1435
oponents 31
opp_percentage 0.514070413826692
team 1436
oponents 30
opp_percentage 0.43541395323630205
team 1437
oponents 34
opp_percentage 0.5474175878407848
team 1438
oponents 32
opp_percentage 0.5639904378429977
team 1439
oponents 33
opp_percentage 0.5454207480080454
team 1440
oponents 28
opp_percentage 0.4754410313608033
team 1441
oponents 30
opp_percentage 0.4721143839029453
team 1442
oponents 26
opp_percentage 0.49217514204468665
team 1443
oponents 30
opp_percentage 0.49317924519275697
team 1444
oponents 31
opp_percentage 0.4873876772140946
team 1447
oponents 29
opp_percentage 0.4819848432682137
team 1448
oponents 32
opp_percentage 0.577630242011711
team 1449
oponents 31
opp_percentage 0.5361637984944531
team 1450
oponents 31
opp_percentage 0.542260358560029
team 1451
oponents 28
opp_percentage 0.473952814425115
team 1452
oponents 32
opp_percentage 0.5596279242085397
team 1453
oponents 30
opp_percentage 0.48889658478249576
team 1454
oponents 28
opp_percentage 0.49830437629830754
team 1455
oponents 31
opp_percentage 0.5038342877445016
team 1456
oponents 30
opp_percentage 0.5053453726682559
team 1457
oponents 29
opp_percentage 0.430601548214241
team 1458
oponents 34
opp_percentage 0.57420931946444
team 1459
oponents 32
opp_percentage 0.46090470150283863
team 1460
oponents 29
opp_percentage 0.4984620687182922
team 1461
oponents 32
opp_percentage 0.4815394536347505
team 1462
oponents 34
opp_percentage 0.5937808280623105
team 1463
oponents 30
opp_percentage 0.5113184165470774
team 1464
oponents 29
opp_percentage 0.4903334868020247

,team_id,win_percentage,list_oponents,opp_percentage
0,1101,0.250000,"[1409, 1182, 1415, 1170, 1222, 1260, 1129, 135...",0.473607
1,1102,0.413793,"[1119, 1154, 1160, 1403, 1212, 1303, 1115, 141...",0.489934
2,1103,0.588235,"[1420, 1425, 1274, 1376, 1336, 1136, 1115, 144...",0.507739
3,1104,0.548387,"[1406, 1441, 1379, 1235, 1113, 1378, 1462, 139...",0.555760
4,1105,0.285714,"[1173, 1210, 1240, 1369, 1132, 1439, 1266, 144...",0.417252
...,...,...,...,...
346,1460,0.310345,"[1125, 1132, 1149, 1168, 1198, 1367, 1191, 112...",0.498462
347,1461,0.718750,"[1294, 1160, 1197, 1391, 1308, 1176, 1374, 114...",0.481539
348,1462,0.617647,"[1319, 1253, 1372, 1293, 1360, 1431, 1253, 110...",0.593781
349,1463,0.666667,"[1346, 1227, 1356, 1245, 1248, 1344, 1216, 113...",0.511318
350,1464,0.275862,"[1245, 1141, 1185, 1255, 1422, 1282, 1229, 135...",0.490333

In [305]:
##find oop
np_win_percentage = df_win_percentage.to_numpy()
data = []
for x in np_win_percentage:
    counter = len(x[2])
    opp_opp_percentage = 0
    for y in x[2]:
        for z in np_win_percentage:
            if int(z[0]) == int(y):
                opp_opp_percentage = opp_opp_percentage + float(z[3])


    opp_opp_percentage = opp_opp_percentage / counter
    # print("team", x[0])
    # print("oponents", counter)
    # print("opp_opp_percentage", opp_opp_percentage)
    data.append(opp_opp_percentage)

df_win_percentage["opp_opp_percentage"] = data

df_win_percentage

,team_id,win_percentage,list_oponents,opp_percentage,opp_opp_percentage
0,1101,0.250000,"[1409, 1182, 1415, 1170, 1222, 1260, 1129, 135...",0.473607,0.463697
1,1102,0.413793,"[1119, 1154, 1160, 1403, 1212, 1303, 1115, 141...",0.489934,0.498149
2,1103,0.588235,"[1420, 1425, 1274, 1376, 1336, 1136, 1115, 144...",0.507739,0.505756
3,1104,0.548387,"[1406, 1441, 1379, 1235, 1113, 1378, 1462, 139...",0.555760,0.538927
4,1105,0.285714,"[1173, 1210, 1240, 1369, 1132, 1439, 1266, 144...",0.417252,0.449393
...,...,...,...,...,...
346,1460,0.310345,"[1125, 1132, 1149, 1168, 1198, 1367, 1191, 112...",0.498462,0.489468
347,1461,0.718750,"[1294, 1160, 1197, 1391, 1308, 1176, 1374, 114...",0.481539,0.508037
348,1462,0.617647,"[1319, 1253, 1372, 1293, 1360, 1431, 1253, 110...",0.593781,0.547710
349,1463,0.666667,"[1346, 1227, 1356, 1245, 1248, 1344, 1216, 113...",0.511318,0.493780
350,1464,0.275862,"[1245, 1141, 1185, 1255, 1422, 1282, 1229, 135...",0.490333,0.489879

In [306]:
## calculate rpi
data = []
np_calc_rpi = df_win_percentage.to_numpy()
for x in np_calc_rpi:
    wp = float(x[1])
    op = float(x[3])
    oop = float(x[4])
    rpi = (wp*0.25) + (op*0.50) + (oop*0.25)
    data.append([int(x[0]), rpi])

variables_2015_df = pd.DataFrame(data, columns =["team_id", "team_rpi"] )
variables_2015_df.sort_values(by= "team_rpi", ascending=False)
##rpi sorted

     team_id  team_rpi
138     1246  0.663359
344     1458  0.652527
74      1181  0.649515
325     1437  0.647675
134     1242  0.646867
..       ...       ...
22      1126  0.376997
7       1108  0.367241
40      1146  0.357147
90      1197  0.344586
105     1212  0.327429

[351 rows x 2 columns]

In [307]:
season_detailed_results_2015_df = pd.read_csv("regular_season_detailed_results_2015.csv")
season_detailed_results_2015_df.head()

np_detailed_results = season_detailed_results_2015_df.to_numpy()

data = []
for x in np_teams:
    steals = 0
    points = 0
    block = 0
    field_goal_made = 0
    field_goal_attempted = 0
    for y in np_detailed_results:
        if int(y[2]) == int(x):
            ## if winning team
            field_goal_made = field_goal_made + int(y[8])
            field_goal_attempted = field_goal_attempted + int(y[9])
            ## steal 18
            ## block 19
            steals = steals + int(y[18])
            block = block + int(y[19])
            points = points + int(y[3])
        if int(y[4]) == int(x):
            ## if losing team
            field_goal_made = field_goal_made + int(y[21])
            field_goal_attempted = field_goal_attempted + int(y[22])
            ## steal 18
            ## block 19
            steals = steals + int(y[31])
            block = block + int(y[32])
            points = points + int(y[5])
    if field_goal_attempted != 0 :
        data.append([x, steals, block, points, float(field_goal_made) / field_goal_attempted])
df_variables_2015 = pd.DataFrame(data, columns= ["team_id", "total_steals", "total_blocks", "total_points", "field_block_percentage"])

df_variables_2015

     team_id  total_steals  total_blocks  total_points  field_block_percentage
0       1101           166            33          1708                0.404858
1       1102           183            57          1877                0.465353
2       1103           213           152          2290                0.410752
3       1104           195           112          2066                0.438383
4       1105           158            66          1716                0.392809
..       ...           ...           ...           ...                     ...
346     1460           153            73          1832                0.437169
347     1461           177            92          1966                0.456949
348     1462           207            97          2501                0.473009
349     1463           170           113          1965                0.434754
350     1464           171            56          2054                0.441875

[351 rows x 5 columns]

In [308]:
df_var_2015 = pd.merge(df_variables_2015, variables_2015_df, how='inner')

df_var_2015

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1101,166,33,1708,0.404858,0.415228
1,1102,183,57,1877,0.465353,0.472953
2,1103,213,152,2290,0.410752,0.527368
3,1104,195,112,2066,0.438383,0.549708
4,1105,158,66,1716,0.392809,0.392403
...,...,...,...,...,...,...
346,1460,153,73,1832,0.437169,0.449184
347,1461,177,92,1966,0.456949,0.547466
348,1462,207,97,2501,0.473009,0.588230
349,1463,170,113,1965,0.434754,0.545771
350,1464,171,56,2054,0.441875,0.436602

In [309]:
## i founded bpi rank at this site "https://www.espn.com/mens-college-basketball/bpi/_/view/overview/season/2015/page/1" for the season 2015

df_season_results = pd.read_csv("regular_season_detailed_results.csv")
df_season_results.head

<bound method NDFrame.head of        season  daynum  wteam  wscore  lteam  lscore wloc  numot  wfgm  wfga  \
0        2003      10   1104      68   1328      62    N      0    27    58
1        2003      10   1272      70   1393      63    N      0    26    62
2        2003      11   1266      73   1437      61    N      0    24    58
3        2003      11   1296      56   1457      50    N      0    18    38
4        2003      11   1400      77   1208      71    N      0    30    61
...       ...     ...    ...     ...    ...     ...  ...    ...   ...   ...
60513    2014     132   1196      61   1246      60    N      0    23    53
60514    2014     132   1277      69   1276      55    N      0    27    54
60515    2014     132   1386      65   1433      61    N      0    24    50
60516    2014     132   1418      82   1209      81    N      1    32    75
60517    2014     132   1438      72   1181      63    N      0    21    47

       ...  lfga3  lftm  lfta  lor  ldr  last  lto  lstl  lblk  lpf
0      ...     10    16    22   10   22     8   18     9     2   20
1      ...     24     9    20   20   25     7   12     8     6   16
2      ...     26    14    23   31   22     9   12     2     5   23
3      ...     22     8    15   17   20     9   19     4     3   23
4      ...     16    17    27   21   15    12   10     7     1   14
...    ...    ...   ...   ...  ...  ...   ...  ...   ...   ...  ...
60513  ...     11    21    26   12   24     9   12     4     8   19
60514  ...     23    15    16   13   15     7    9     3     3   15
60515  ...     19     8    15   13   25     9    5     6     6   18
60516  ...     19    20    21    4   26     8    7     5     7   15
60517  ...     14     7    11   14   20    13    6     7     3   29

[60518 rows x 34 columns]>

In [319]:
np_season_results = df_season_results.to_numpy()
list_of_numpy = []
for w in range(2003, 2015):
    np_name = "np_season_results" + str(w)
    np_name = df_season_results[df_season_results["season"] ==  int(w)].to_numpy()
    list_of_numpy.append(np_name)


brojac = 2003
for i in list_of_numpy:

    listofoponents = []
    data = []
    for x in np_teams:
        wincounter = 0;
        numofgames = 0;
        listofoponents = []
        for y in i:
            if int(y[2]) == x:
                listofoponents.append(int(y[4]))
                wincounter = wincounter + 1
                numofgames = numofgames + 1
            if int(y[4]) == int(x):
                listofoponents.append(int(y[2]))
                numofgames = numofgames + 1

        ##odbacene ekipe koje nisu odigrale nijednu utakmicu u sezoni
        if(numofgames != 0):
            win_percentage = wincounter / numofgames
            data.append( [x, win_percentage, listofoponents])


    df_win_percentage = pd.DataFrame(data, columns=["team_id", "win_percentage", "list_oponents"])

    ##find op
    np_win_percentage = df_win_percentage.to_numpy()

    data = []
    for x in np_win_percentage:
        counter = len(x[2])
        opp_percentage = 0
        for y in x[2]:
            for z in np_win_percentage:
                if int(z[0]) == int(y):
                    opp_percentage = opp_percentage + float(z[1])

        opp_percentage = opp_percentage / counter
        data.append(opp_percentage)

    df_win_percentage["opp_percentage"] = data

    ##find oop
    np_win_percentage = df_win_percentage.to_numpy()
    data = []
    for x in np_win_percentage:
        counter = len(x[2])
        opp_opp_percentage = 0
        for y in x[2]:
            for z in np_win_percentage:
                if int(z[0]) == int(y):
                    opp_opp_percentage = opp_opp_percentage + float(z[3])


        opp_opp_percentage = opp_opp_percentage / counter

        data.append(opp_opp_percentage)

    df_win_percentage["opp_opp_percentage"] = data

    ## calculate rpi
    data = []
    np_calc_rpi = df_win_percentage.to_numpy()
    for x in np_calc_rpi:
        wp = float(x[1])
        op = float(x[3])
        oop = float(x[4])
        rpi = (wp*0.25) + (op*0.50) + (oop*0.25)
        data.append([int(x[0]), rpi])

    variables_df = pd.DataFrame(data, columns =["team_id", "team_rpi"] )

    data = []
    for x in np_teams:
        steals = 0
        points = 0
        block = 0
        field_goal_made = 0
        field_goal_attempted = 0
        for y in i:
            if int(y[2]) == int(x):
                ## if winning team
                field_goal_made = field_goal_made + int(y[8])
                field_goal_attempted = field_goal_attempted + int(y[9])
                steals = steals + int(y[18])
                block = block + int(y[19])
                points = points + int(y[3])
            if int(y[4]) == int(x):
                field_goal_made = field_goal_made + int(y[21])
                field_goal_attempted = field_goal_attempted + int(y[22])
                steals = steals + int(y[31])
                block = block + int(y[32])
                points = points + int(y[5])
        if field_goal_attempted != 0 :
            data.append([x, steals, block, points, float(field_goal_made) / field_goal_attempted])
            df_variables = pd.DataFrame(data, columns= ["team_id", "total_steals", "total_blocks", "total_points", "field_block_percentage"])

    print(brojac)
    df_var = pd.merge(df_variables, variables_df, how='inner')
    df_var
    brojac = brojac + 1

2003

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,167,50,1603,0.481149,0.501340
1,1103,196,63,2127,0.486074,0.488793
2,1104,185,106,1940,0.420362,0.577378
3,1105,242,54,1866,0.395755,0.386838
4,1106,234,88,1781,0.423773,0.457072
...,...,...,...,...,...,...
322,1460,157,70,1822,0.427707,0.464020
323,1461,170,91,2114,0.453602,0.555665
324,1462,164,91,2347,0.452703,0.601764
325,1463,192,57,1772,0.441240,0.496051
326,1464,165,78,1656,0.404942,0.431350

2004

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,218,66,1685,0.482583,0.550315
1,1103,207,71,2009,0.466488,0.476230
2,1104,187,90,2094,0.452665,0.598055
3,1105,209,74,2024,0.407981,0.429829
4,1106,212,94,1843,0.422025,0.459463
...,...,...,...,...,...,...
321,1460,119,29,1791,0.449574,0.490056
322,1461,161,99,1959,0.437859,0.514467
323,1462,232,74,2324,0.441176,0.583926
324,1463,179,93,1699,0.460536,0.467603
325,1464,197,71,1770,0.435211,0.448236

2005

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,255,50,1776,0.448699,0.513148
1,1103,189,108,2005,0.444302,0.542681
2,1104,156,133,2263,0.481646,0.607117
3,1105,308,112,2003,0.400935,0.450664
4,1106,201,60,1739,0.381046,0.449882
...,...,...,...,...,...,...
325,1460,137,50,1918,0.464960,0.491595
326,1461,170,144,1986,0.442146,0.524923
327,1462,166,93,2033,0.453649,0.519175
328,1463,175,78,1831,0.436997,0.482209
329,1464,136,104,1533,0.404528,0.390883

2006

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,224,59,1778,0.481191,0.562511
1,1103,181,89,2144,0.448679,0.541415
2,1104,184,146,2029,0.453444,0.580494
3,1105,189,132,1701,0.417496,0.441606
4,1106,179,83,1985,0.408660,0.436419
...,...,...,...,...,...,...
329,1460,143,43,1692,0.436723,0.485346
330,1461,177,209,2046,0.420245,0.503260
331,1462,195,151,2215,0.463280,0.555270
332,1463,202,89,1939,0.447539,0.469115
333,1464,163,73,1813,0.432058,0.412806

2007

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,188,44,2055,0.485795,0.582747
1,1103,247,140,2388,0.482970,0.554294
2,1104,173,163,2282,0.457770,0.578794
3,1105,175,199,1561,0.376832,0.373454
4,1106,179,79,1746,0.363922,0.408751
...,...,...,...,...,...,...
331,1460,187,49,2067,0.441999,0.542563
332,1461,171,113,2288,0.460905,0.525139
333,1462,184,113,2445,0.479304,0.585233
334,1463,184,71,1742,0.453313,0.500754
335,1464,144,84,1882,0.424300,0.490005

2008

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,173,50,1612,0.437237,0.503563
1,1103,233,92,2351,0.443630,0.550284
2,1104,246,148,2484,0.456219,0.542278
3,1105,187,147,1669,0.380531,0.418693
4,1106,157,102,1917,0.457069,0.460437
...,...,...,...,...,...,...
337,1460,156,54,1944,0.450131,0.543326
338,1461,145,129,1908,0.439008,0.470835
339,1462,184,114,2486,0.477544,0.621456
340,1463,220,94,1826,0.446218,0.486094
341,1464,184,81,1772,0.428191,0.466831

2009

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,147,63,1665,0.435055,0.459086
1,1103,260,77,2258,0.416260,0.524199
2,1104,210,140,2185,0.436904,0.541209
3,1105,193,83,1536,0.389091,0.388886
4,1106,167,138,2015,0.465160,0.472183
...,...,...,...,...,...,...
342,1460,200,79,1995,0.409367,0.534052
343,1461,143,103,2204,0.458225,0.532598
344,1462,172,164,2316,0.463139,0.606911
345,1463,179,82,1686,0.442587,0.450836
346,1464,139,98,1804,0.408740,0.462428

2010

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,140,44,1613,0.438729,0.472346
1,1103,206,105,2344,0.435331,0.545516
2,1104,249,127,2192,0.440914,0.547691
3,1105,216,120,1468,0.370342,0.391736
4,1106,209,117,1793,0.396529,0.419768
...,...,...,...,...,...,...
342,1460,190,63,2163,0.443262,0.534399
343,1461,200,117,1947,0.425490,0.483502
344,1462,217,122,2561,0.466455,0.600188
345,1463,203,120,1975,0.417182,0.438152
346,1464,161,101,1833,0.416010,0.444048

2011

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,174,71,1799,0.468657,0.534590
1,1103,219,116,2379,0.429820,0.525913
2,1104,296,167,2133,0.444941,0.549620
3,1105,214,132,1570,0.397133,0.413486
4,1106,234,146,1970,0.397741,0.434395
...,...,...,...,...,...,...
340,1460,192,33,1988,0.428480,0.520022
341,1461,213,110,1872,0.424125,0.466028
342,1462,171,96,2251,0.462705,0.598979
343,1463,125,122,1823,0.438596,0.496558
344,1464,174,135,1908,0.413628,0.448156

2012

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,169,80,1638,0.444444,0.511971
1,1103,234,138,2287,0.461229,0.560591
2,1104,234,133,2078,0.451613,0.584268
3,1105,160,104,1589,0.402570,0.367355
4,1106,217,88,1674,0.372881,0.404704
...,...,...,...,...,...,...
340,1460,203,50,1777,0.396825,0.473928
341,1461,192,95,1809,0.445956,0.549143
342,1462,201,124,2336,0.452758,0.576686
343,1463,134,95,1733,0.424818,0.518501
344,1464,182,154,1946,0.430175,0.487866

2013

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1102,174,48,1930,0.471034,0.546515
1,1103,221,173,2230,0.452691,0.577317
2,1104,263,143,2003,0.428571,0.561333
3,1105,159,97,1786,0.394296,0.396094
4,1106,191,100,1906,0.404243,0.398221
...,...,...,...,...,...,...
342,1460,239,63,1977,0.433313,0.512117
343,1461,188,96,1804,0.425191,0.554872
344,1462,164,86,2021,0.456384,0.550032
345,1463,179,84,1863,0.411333,0.471987
346,1464,184,154,1988,0.424113,0.485852

2014

,team_id,total_steals,total_blocks,total_points,field_block_percentage,team_rpi
0,1101,121,31,1326,0.405508,0.382585
1,1102,148,83,1808,0.425913,0.469697
2,1103,218,139,2241,0.431907,0.537417
3,1104,209,131,2068,0.438356,0.537026
4,1105,169,114,1787,0.405514,0.433965
...,...,...,...,...,...,...
346,1460,215,94,2127,0.449367,0.486696
347,1461,135,114,1939,0.471861,0.517286
348,1462,193,97,2383,0.471309,0.573617
349,1463,164,115,1777,0.411079,0.498164
350,1464,185,72,2167,0.454041,0.468300